<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Programming</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p> I have used Powershell to build automation using VMware/PowerCLI to dynamically create VM's for AD accounts as well as clean up old VM's where the accounts no longer exist - used for a university.
          I also created a Powershell script to automate mass guest account creation, account creation was previously done manually one-by-one.<br>
          I have used Java to build RESTful services, and for website workflows using selenium.<br>
          I have used Python to build personal web scraping tools.<br>
          I have used HTML/CSS/JS/Angualr JS to develop a dashboard for project defects.<br>
          I have used C# for O&M on an internal company application.<br>
      </p>
    </div>
    <div class="four columns">
      <h4>Security</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p> I have used Kali Linux to compete in the <a href="http://www.cyberpanoply.com/">Cyber Panoply</a> competition hosted by USTA.<br>
          I have built some automation around the armitage tool to scan the a network and automatically gain access to the MS-08 vurnable nodes.<br>
          I have competed in the <a href="http://www.nationalccdc.org/">National Collegiate Cyber Defense Competiton</a>.<br>
      </p>
    </div>
    <div class="four columns">
      <h4>System Administration</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p> I have managed <a href="https://en.wikipedia.org/wiki/Windows_Server_Update_Services">WSUS</a> for domain servers.<br>
          I have created and managed <a href="https://en.wikipedia.org/wiki/Group_Policy">GPO's</a> for a domain.<br>
          I have created VMware VM templates for a domain.<br>
          I have designed and set up an air-gapped pen testing network for students to train their red team pen testing skills.<br>
      </p>
    </div>
  </div>
</div>
