<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Programming</h4>
        <i class="devicon-angularjs-plain-wordmark colored"></i>
        <i class="devicon-csharp-line-wordmark"></i>
        <i class="devicon-python-plain-wordmark colored"></i>
        <i class="devicon-javascript-plain colored"></i>
        <i class="devicon-java-plain-wordmark colored"></i>
        <p>
        - Used Powershell in automating using VMware/PowerCLI to dynamically create VM's for AD accounts as well as clean up old VM's where the accounts no longer exist - used for a university.
        Created a Powershell script to automate mass guest account creation, account creation was previously done manually one-by-one.<br><br>
        - Used Java to build RESTful services, and for website workflows using selenium.<br><br>
        - Used Python to build personal web scraping tools.<br><br>
        - Used HTML/CSS/JS/Angualr JS to develop a dashboard for project defects.<br><br>
        - Used C# for O&M on an internal company application.<br><br>
      </p>
    </div>
    <div class="four columns">
      <h4>Security</h4>
      <i class="devicon-linux-plain colored"></i>
      <p> - Used Kali Linux to compete in the <a href="http://www.cyberpanoply.com/">Cyber Panoply</a> competition hosted by USTA.<br><br>
          - Built some automation around the armitage tool to scan the network and automatically gain access to the MS-08 vurnable nodes.<br><br>
          - Competed in the <a href="http://www.nationalccdc.org/">NCCDC</a>.<br><br>
      </p>
    </div>
    <div class="four columns">
      <h4>System Administration</h4>
         <i class="devicon-debian-plain-wordmark colored"></i>
         <i class="devicon-docker-plain-wordmark colored"></i>
         <i class="devicon-redhat-plain-wordmark colored"></i>
         <i class="devicon-windows8-original colored"></i>
      <p> -Managed <a href="https://en.wikipedia.org/wiki/Windows_Server_Update_Services">WSUS</a> for domain servers.<br><br>
          - Created and managed <a href="https://en.wikipedia.org/wiki/Group_Policy">GPO's</a> for a domain.<br><br>
          - Created VMware VM templates for a university sub-domain.<br><br>
          - Designed and set up an air-gapped pen testing network for students to train their red team pen testing skills.<br><br>
      </p>
    </div>
  </div>
</div>
